* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #111215;
  color: #f2f7fc;
}
.main {
  display: grid;
  justify-items: center;
}
.navbar {
  width: 70%;
  height: 100px;
  display: grid;
  border: 2px solid white;
}
.logo {
  font-size: 25px;
  font-weight: 600;
  margin-left: 30px;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.items {
  display: grid;
  justify-content: end;
}
.items ul {
  display: flex;
  justify-content: center;
}
.items ul li {
  margin: 20px 30px;
  list-style-type: none;
}
.items ul li a {
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  transition: 0.3s;
}
.items ul li a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}
.banner {
  width: 70%;
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-image: url(./pics/3Z2iVKf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .banner_txt {
  background: transparent;
  font-size: 65px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;

  display: grid;
  justify-items: center;
  align-items: center;
  margin-left: 100px;
  padding: 50px;
  transition: 0.2s;
}
.banner .banner_txt:hover {
  padding-right: 40px;
  margin-bottom: 10px;
  box-shadow: inset 10px -15px 0px white;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.7);
}
.banner .banner_txt p {
  background: transparent;

  text-align: end;
}

.banner .banner_txt span {
  font-size: 55px;
  line-height: 150px;
  padding: 0px 10px;
  box-shadow: inset 0px -2px 0px white;
  transition: transform 0.5s ease-in;
  cursor: pointer;
}
.banner .banner_txt:hover span {
  animation: border_anim 0.3s ease-in forwards;
}
@keyframes border_anim {
  0% {
    box-shadow: inset 0px -5px 0px white;
  }
  20% {
    box-shadow: inset 0px -15px 0px white;
  }
  40% {
    box-shadow: inset 0px -25px 0px white;
  }
  60% {
    box-shadow: inset 0px -35px 0px white;
  }
  80% {
    box-shadow: inset 0px -45px 0px white;
  }
  100% {
    box-shadow: inset 0px -60px 0px white;
    color: #111215;
  }
}

.banner .banner_txt .sm_txt {
  font-size: 24px;
  align-items: end;
  width: 450px;
}
.banner .img {
  border: 2px solid white;
}
.img {
  border: none;
}

/* cat start */
.cat_banner {
  /* border: 2px solid white; */
  margin-top: 80px;
  width: 70%;
  height: 800px;
}
.cat_banner h1 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  margin: 20px 0px;
  border-bottom: 2px solid whitesmoke;
}
.cat_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-gap: 10px; */
  /* grid-template-columns: auto;
  grid-template-rows: auto auto; */
  border: 2px solid white;
  width: 100%;
  height: 700px;
}
.cat_info .cat_des {
  border: 1px solid white;
  width: 100%;
  font-size: 24px;
  padding: 100px 100px;
}
/* cat span test */
.cat_info .cat_des span {
  font-size: 38px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  /* border: 2px solid white; */
}
.cat_info .cat_des p {
  padding-top: 30px;
  /* border: 2px solid white; */
}
.cat_info .cat_pic {
  border: 1px solid white;
  width: 100%;
  background-image: url(./pics/OIP.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* cat end */

/* dog start */
.dog_banner {
  /* border: 2px solid white; */
  margin-top: 80px;
  width: 70%;
  height: 800px;
}
.dog_banner h1 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  margin: 20px 0px;
  border-bottom: 2px solid whitesmoke;
}
.dog_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid white;
  width: 100%;
  height: 700px;
}
.dog_info .dog_des {
  border: 1px solid white;
  width: 100%;
  font-size: 24px;
  padding: 100px 100px;
}
/* cat span test */
.dog_info .dog_des span {
  font-size: 38px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  /* border: 2px solid white; */
}
.dog_info .cat_des p {
  padding-top: 30px;
  /* border: 2px solid white; */
}
.dog_info .dog_pic {
  border: 1px solid white;
  width: 100%;
  background-image: url(./pics/R.jpeg);
  background-size: cover; /* Adjust as needed */
  background-position: center right -180px; /* Center horizontally */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  transform: scaleX(-1);
}
